@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.component_btn {
    border-radius: 12px;
    padding: 3px 40px;
    background: linear-gradient(#a5e440, #a5e440) padding-box,
        linear-gradient(180deg, #edf9d0, #a5e440) border-box;
    border: 2px solid transparent;
    box-shadow: 0px 0px 6.5px 2px #EDF9D0;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #303827;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-family: Kanit;
    transition: background 0.8s;
}

.component_btn:hover {
    background: #52711b radial-gradient(circle, transparent 10%, #a5e440 1%) center/15000%;
    color: #EDF9D0;
    border: 2px solid #EDF9D0;
    transition: background 0.4s ease-in-out;
}

.component_btn:active {
    background-color: #1c2909f4;
    background-size: 100%;
    transition: background 0s;
}


.shaker {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 4;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* .normal_btn {
    border-radius: 12px;
    padding: 3px 40px;
    background: linear-gradient(#a5e440, #a5e440) padding-box,
        linear-gradient(180deg, #edf9d0, #a5e440) border-box;
    border: 2px solid transparent;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #303827;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-family: Kanit;
    transition: background 0.8s;
}

.normal_btn:hover {
    background: #52711b radial-gradient(circle, transparent 10%, #a5e440 1%) center/15000%;
    color: #EDF9D0;
    border: 2px solid #EDF9D0;
    transition: background 0.4s ease-in-out;
}

.normal_btn:active {
    background-color: #1c2909f4;
    background-size: 100%;
    transition: background 0s;
} */



.component_btn_transparent:hover {
    background: #52711b radial-gradient(circle, transparent 10%, #a5e440 1%) bottom center/15000%;
    color: #EDF9D0;
    border: 1px solid #EDF9D0;
    transition: background 0.4s ease-in-out;
}

.component_btn_transparent:active {
    background-color: #52711b;
    background-size: 100%;
    transition: background 0s;
}

::placeholder {
    color: #EDF9D0;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #EDF9D0;
}

.OtpComponent input {
    height: 50px;
    background: #181C13;
    border-radius: 12px;
    width: 50px;
    padding: 10px;
    /* margin: 10px; */
    text-align: center;
}

.OtpComponent input:focus {
    outline: none;
}

.loaderWidth {
    width: 0px;
    transition: width 0.5s ease-in-out;
}

.gradual-rectangle {
    width: 300px;
    height: 40px;
    background: linear-gradient(to left, #20251a, #20251a, transparent, transparent);
    background-size: 200% 100%;
    animation: decreaseWidth 10s linear;
}

@keyframes decreaseWidth {
    0% {
        background-position: right;
        /* Start from the left */
    }

    100% {
        background-position: left;
        /* End at the right */
    }
}