.boderToken {
    /* height: 80%; */
    /* width: 0; */
    /* margin: auto; */
    /*  */

    border-left: 3.5px solid transparent;
    padding: 10px;
    background: linear-gradient(#20251a, #20251a) padding-box,
        linear-gradient(180deg, #20251a, #466417, #425c18, #85c936, #425c18, #466417, #20251a) border-box;

}